---
layout: layouts/base.liquid
title: "Moss Cat"
description: "Moss Cat is an art collective that dreams of a gentle future and creates nature-inspired jewelry that instills hope and a longing for a brighter world."
og_title: "Moss Cat"
og_description: "Moss Cat is an art collective that dreams of a gentle future and creates nature-inspired jewelry that instills hope and a longing for a brighter world."
---

<main>
    <div class="mc-card">
        <div>
            <h1 class="mc-title mc-gradient">Moss Cat</h1>
            <hr class="mc-hr">
            <p class="mc-copy">
                Moss Cat is an art collective that dreams of a gentle future.
            </p>
            <p class="mc-copy">
                We strive to create art that instills hope and a longing for a brighter world. We believe in the resilience of nature and the potential of a society that grows in harmony with it. Through our creations, we invite you to imagine this world as well.
            </p>
            <p class="mc-copy">
                Thank you for being a part of our journey. More to come soon.
            </p>
        </div>
        <div class="mc-logo">
            <svg aria-hidden="true" viewBox="0 0 418 384" fill="none" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <linearGradient id="logoGradient" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" stop-color="#878C87" />
                        <stop offset="100%" stop-color="#D3D4D3" />
                    </linearGradient>
                </defs>
                <path
                    d="M165.8 6.82175C159.463 -0.480404 150.678 -0.855416 143.937 0.827605C137.54 2.42462 131.015 6.17734 124.911 10.519C112.48 19.3601 97.9321 33.4814 83.2582 49.4233C53.7276 81.5059 4.2389 148.483 1.4438 151.753C-1.3513 155.023 -0.261278 160.983 6.23872 165.622C11.4387 169.332 18.8251 168.26 21.0317 165.622C23.2383 162.983 72.2973 96.7695 100.916 65.6772C115.317 50.0317 128.496 37.4209 138.821 30.0776C142.038 27.7892 144.637 26.2632 146.639 25.3051C146.568 25.8445 146.479 26.4349 146.365 27.0786C145.358 32.755 142.911 40.5968 139.028 50.4243C131.309 69.9581 118.783 95.2065 104.173 122.618C89.6067 149.949 73.1726 179.053 57.7612 206.234C42.3991 233.328 28.5 259 17.6459 278.047C15.6769 280.693 12.2389 286.883 14.2389 290.483C16.7389 294.983 20.7389 298.483 25.7389 299.483C29.7389 300.283 34.4816 295.179 36.353 292.527C82.3123 250.335 142.575 193.533 194.185 151.106C220.06 129.835 243.172 112.675 260.861 102.802C269.826 97.7981 276.459 95.2095 280.838 94.4624C282.068 94.2526 282.854 94.2174 283.325 94.2358C285.189 97.4878 286.004 103.156 283.489 112.833C280.849 122.992 275.102 135.275 267.105 148.938C251.135 176.222 227.923 206.175 208.693 231.415C197.06 246.683 183.441 273.326 181.748 300.707C180.889 314.62 183.087 329.245 190.764 342.566C198.5 355.989 211.22 367.077 229.613 374.76C274.438 393.484 313.97 378.609 343.208 355.579C372.132 332.796 392.465 301.094 401.192 281.587C409.868 262.193 416.968 240.959 417.113 222.468C417.186 213.07 415.475 203.571 410.497 195.323C405.378 186.842 397.421 180.712 386.979 177.286C366.221 170.474 345.319 177.459 329.273 186.91C313.047 196.467 305 205.5 292.009 220.162C285.677 227.308 274.547 244.213 267.02 259.339C263.393 266.627 259.907 275.29 259.66 283.252C259.53 287.442 260.259 292.541 263.461 297.092C266.818 301.862 271.753 304.427 276.884 305.454C284.057 306.888 291.567 305.725 298.177 303.839C304.958 301.905 311.867 298.895 318.301 295.577C331.161 288.944 343.317 280.455 350.707 274.58C352.384 272.548 354.639 266.683 350.239 259.483C345.839 252.283 338.759 254.024 335.769 255.794C329.325 260.918 318.481 268.48 307.299 274.248C301.713 277.129 296.34 279.407 291.595 280.76C288.31 281.697 285.764 282.061 283.891 282.091C284.423 279.408 285.855 275.36 288.506 270.032C294.952 257.079 305.48 242.502 311.346 234.379L311.466 234.213C317.028 226.512 328.179 215.407 341.453 207.589C354.907 199.665 368.254 196.4 379.497 200.089C385.054 201.913 388.097 204.657 389.948 207.723C391.938 211.021 393.164 215.742 393.113 222.281C393.008 235.665 387.607 253.181 379.284 271.787C371.797 288.52 353.631 316.818 328.358 336.725C303.4 356.384 273.037 366.889 238.863 352.614C224.573 346.645 216.284 338.782 211.558 330.582C206.774 322.281 205.058 312.612 205.703 302.188C207.019 280.895 218.083 258.691 227.783 245.959C246.648 221.199 270.936 189.902 287.817 161.061C296.245 146.662 303.262 132.164 306.717 118.87C310.053 106.033 310.659 91.9232 302.964 80.3862L302.592 79.8393L302.28 79.3999C295.656 70.3081 285.149 69.3803 276.802 70.8042C268.361 72.2443 258.876 76.4244 249.164 81.8452C229.497 92.822 205.012 111.138 178.945 132.567C145.84 159.782 103.463 201.308 69.5 232.5C70.616 230.533 77.5087 220.065 78.6391 218.072C94.0401 190.909 110.62 161.55 125.353 133.906C140.043 106.343 153.105 80.1042 161.348 59.2446C165.446 48.8753 168.574 39.2927 169.997 31.27C170.707 27.2628 171.086 23.1451 170.726 19.2514C170.373 15.4295 169.202 10.741 165.8 6.82175Z"
                    fill="url(#logoGradient)" />
            </svg>
        </div>
    </div>
</main>